body{
    background-color: black;
}

.container{
    display: flex;
    top: 0px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: sticky;
    background-color: green;
    height: 100px;
}

.text{
    color: white;
}