/* Ajout d'un font */
@font-face {
    font-family: Font;
    src: url("font.TTF");
}
/* Navbar */
.navbar{
    display: flex;
    background-color: rgb(19, 19, 19);
    width: 100%;
    justify-content: center;
    border: 2px #73F340 solid;
    margin: 0 0 20px 0;
    font-family: Font;
    z-index: 2;
}
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.text{
    color: #73F340;
}
.score {
    color: white;
    opacity: 0.7;
    font-size: 30px;
    text-align: center;
    padding: 20px 10px 10px 100px;
    margin: 0;
}
/* affichage du jeu */


.player img{
    max-width: 100%;
    height: 30px;
    margin: 30px;
}

.vie{
    width: 650px;
    height: 50px;
    margin-top: 15px;
}

.vie img{
    height: 35px;
}
/* Game Over affichage */
.gameover {
    position: fixed;
    text-align: center;
    top: 30%;
    left: 35%;
    height: 200px;
    width: 350px;
    padding: 50px;
    color: white;
    font-family: Font;
    font-size: 60px;
    background: black;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 0px 1px 20px 3px #73F340;
    border-radius: 5px;
    animation-name: color_change;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes color_change {
    from {
        box-shadow: 0px 1px 20px 3px #73F340;
    }
    to {
        box-shadow:0px 1px 20px 3px #1b3a0f;
    }
}
.restart {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;

}
.restart:visited {
    color: white;
}
.restart:hover {
    transition: 0.2s;
    color: #73F340;
}
/* Win Affichage*/
.win {
    position: fixed;
    text-align: center;
    top: 30%;
    left: 35%;
    height: 200px;
    width: 350px;
    padding: 50px;
    color: white;
    font-family: Font;
    font-size: 60px;
    background: black;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 0px 1px 20px 3px #73F340;
    border-radius: 5px;
    animation-name: color_change;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes color_change {
    from {
        box-shadow: 0px 1px 20px 3px #73F340;
    }
    to {
        box-shadow:0px 1px 20px 3px #1b3a0f;
    }
}
.level {
    color: white;
    opacity: 0.7;
    font-size: 30px;
    text-align: center;
    padding: 20px 10px 10px 100px;
    margin: 0;
}
.levelpos {
    padding: 25px 200px 5px 0;
}